.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
	border-color:darkviolet;
}

h4
{
	font-family:cursive;
	font-size: 50px;
	color:yellow;		
}
